<footer class="bg-dark text-white py-4 ">
    <div class="container">
  
      <p class="mb-2 text-center">
        <small [innerText]="getPolicy()"></small>
      </p>

      <section class="text-center mt-3">
        <a href="https://facebook.com" class=" icons-hover mx-3" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com" class=" icons-hover mx-3" target="_blank">
          <i class="fab fa-twitter"></i> 
        </a>
        <a href="https://instagram.com" class=" icons-hover mx-3" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </section>

      <div class="text-center mt-3">
        <small>&copy; {{smallPolicy}}</small>
      </div>
    </div>
  </footer>
  